@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Slab:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}


.menu-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4%;

}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1%;
    margin-left: 3%;
    width: 20%;
}

.logoimg{
    height: 57px;
    width: 87px;
}

.logotxt{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    margin-left: 2%;
    color: #286240;

}
.links{
    display:flex;
    flex-direction: row;
    width: 40%;
    background-color: #286240;
    margin-top: 2%;
    margin-left: 10%;
    gap: 24%;
    justify-content: center;
    padding: 1%;
    border-radius: 12px 0 12px 0 ;

}

.link{
    color: white;
    text-decoration: none;
    padding: 3px;
    border-radius: 2px;
    transition: 0.3s ease-in-out;
}

.link.contato{
    border: none;
    background-color: #286240;
}

.link:hover{
    transform: scale(1.2);
    background-color: white;
    color:#286240;
}

.redes{
    display:flex;
    flex-direction:row;
    margin-top: 2%;
    margin-left: 20%;
    gap: 7%;
}

.insta{
    transition: 0.3s ease-in-out;
}

.insta img{
    width: 50px;
    height: 50px;
}

.insta:hover{
   transform: scale(1.2);
   
}

.whats{
    transition: 0.3s ease-in-out;
}

.whats img{
    width: 50px;
    height: 50px;
}

.whats:hover{
    transform: scale(1.2);
}


.titulo.sobre{
 display: flex;
 color: white;
 font-size: 24px;
 font-weight: bold;
 background-color: #286240; 
 padding: 5%;

}

.sessao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    padding: 3%;

}

.sessao.sobre{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    padding: 3%;
    gap: 500px;

}

.sessao.texto{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 36%;
    height:75%;
    font-size:large;
    padding-bottom: 3%;
}

.titulo{
    color: #09643d;
    font-size: 30px;
}

.texto{
    color: #6D6D6E;
}

.imagem{
    margin-top:4%;
    margin-bottom: 3%;
    width: 500px;
    height:500px;
    display: block;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .imagem:first-child {
    opacity: 1;
  }

.foto{
    margin-top:4%;
    margin-bottom: 3%;
    width: 450px;
    height:500px;
}

.CTA.section{
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 20%;
    
}

.call.to.action{
    display: flex;
    flex-direction: row;
    width: 70%;
    gap: 20%;
    color: white;
    justify-content: center;
    background-color: #09643d;
    border-radius: 8px;
    padding: 3%;
    transition: 1s ease;

}

.destacado{
    transform: scale(1.2);
}

.CTA.button{
    height: 75%;
    width: 15%;
    padding: 2%;
    margin-top: 1%;
    border-radius: 8px;
    border: none;
    text-decoration: none;
    background-color: #09833D;
    color: white;
    transition: 0.3s, color 0.3s ease-in-out;
}

.CTA.button p{
    text-align: center;
}

.CTA.button:hover{
    transform: scale(1.2);
    color: #0c9459;
    background-color: white; 
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #09643d;
    color: white;
    padding: 2%;
    margin-top: 2%;
    font-size: 18px;
    font-weight: lighter;
}

.local{
    transition: 0.3s ease-in-out; 
}

.local img{
    width: 30px;
    height: 30px; 
}

.local:hover{
    transform:scale(1.2)
}

.loc.info{
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ig{
    transition: 0.3s ease-in-out; 
}

.ig img{
    width: 25px;
    height: 25px; 
}

.ig:hover{
    transform:scale(1.2)
}

.ig.info{
    display: flex;
    flex-direction: row;
    gap: 3%;
    margin-top: 1%;
}